.fin-main-card {
  border-radius: 0px;
}

.fin-output-header {
  display: flex;
  height: 48px;
  padding: 8px 16px;
  border-radius: 0px !important;
  border-left: none;
  border-right: none;
  border-top: 1px solid var(--neutral-gray-10);
  background: var(--neutral-gray-02);
}

.fin-back-btn {
  padding: 6px 16px 0px 0px;
  color: var(--primary-blue-78);
  background: var(--neutral-gray-02);
  cursor: pointer;
}

.fin-output-card-body {
  height: calc(100vh - 277px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.fin-output-body {
  display: flex;
  height: calc(100vh - 17.3125rem);
  width: 100%;
}

.fin-output-split-70 {
  width: 70%;
  border-right: 1px solid var(--neutral-gray-10);
}

.fin-output-split-30 {
  width: 30%;
  border-left: 1px solid var(--neutral-gray-10);
}

.fin-footer {
  height: 3rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background: var(--neutral-gray-02);
  border-top: 1px solid var(--neutral-gray-10) !important;
  border: 0px;
  padding-right: 1rem;
}

.tooltip-header {
  overflow: hidden;
  text-overflow: ellipsis;
  width: 14rem;
  display: inline-block;
  position: relative;
  top: 6px;
}

.fin-expand {
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  border-top: 0.0625rem solid var(--neutral-gray-10);
  border-bottom: 0.0625rem solid var(--neutral-gray-10);
}

.fin-output-expand {
  margin-right: 5px;
  cursor: pointer;
  height: 14px;
  width: 14px;
  color: var(--neutral-gray-60);
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

.fin-output-modal {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.fin-collapse {
  width: 1rem;
  align-items: center;
  display: flex;
  border-top: 1px solid var(--neutral-gray-10);
}

.fin-collpase-icon {
  display: flex;
  height: 2rem;
  width: 1rem;
  align-items: center;
  border-top: 1px solid var(--neutral-gray-10);
  border-bottom: 1px solid var(--neutral-gray-10);
  cursor: pointer;
}

.fin-collpase-icon:hover {
  background: var(--primary-blue-40);
}

.fin-output-split-69 {
  width: 69%;
  border-top: 1px solid var(--neutral-gray-10);
  border-right: 1px solid var(--neutral-gray-10);
}

.fin-output-split-99 {
  width: 99%;
  border-top: 1px solid var(--neutral-gray-10);
  border-right: 1px solid var(--neutral-gray-10);
}

.fin-expand-icon {
  height: 0.725rem;
  width: 1rem;
}

.fin-search-input {
  padding: 0.5rem 0rem 0.5rem 1rem;
  border-bottom: 1px solid var(--neutral-gray-10);
}
